<app-node-wrapper
  [node]="node"
  [width]="nodeWidth()"
  [height]="nodeHeight()"
  [backgroundColor]="nodeColor()"
  [isSelected]="isSelected"
  [isEditing]="isEditing"
  [isEditMode]="true"
  (nodeRightClick)="onNodeRightClick($event)"
  (portMouseDown)="onPortMouseDown($event.event, $event.portId, $event.portType)"
  (portMouseUp)="onPortMouseUp($event.event, $event.portId, $event.portType)"
>
  <!-- Header area for moving -->
  <svg:rect
    class="node-header"
    [attr.width]="getWidth()"
    height="30"
    rx="4"
    ry="4"
    (mousedown)="onHeaderMouseDown($event)"
  />
  
  <!-- Node title -->
  <svg:text
    class="node-title"
    x="8"
    y="20"
  >
    {{ getDisplayName() }}
  </svg:text>
</app-node-wrapper>